In [1]:
import nltk
import pandas as pd
from nltk.corpus import reuters
nltk.download('reuters')
nltk.download('punkt')

# Extract fileids from the reuters corpus
fileids = reuters.fileids()

# Initialize empty lists to store categories and raw text
categories = []
text = []

# Loop through each file id and collect each files categories and raw text
for file in fileids:
    categories.append(reuters.categories(file))
    text.append(reuters.raw(file))

# Combine lists into pandas dataframe. reutersDf is the final dataframe. 
reutersDf = pd.DataFrame({'ids':fileids, 'categories':categories, 'text':text})

[nltk_data] Downloading package reuters to
[nltk_data]     /Users/fengwenxin/nltk_data...
[nltk_data]   Package reuters is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/fengwenxin/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
reutersDf

,ids,categories,text
0,test/14826,[trade],ASIAN EXPORTERS FEAR DAMAGE FROM U.S.-JAPAN RI...
1,test/14828,[grain],CHINA DAILY SAYS VERMIN EAT 7-12 PCT GRAIN STO...
2,test/14829,"[crude, nat-gas]",JAPAN TO REVISE LONG-TERM ENERGY DEMAND DOWNWA...
3,test/14832,"[corn, grain, rice, rubber, sugar, tin, trade]",THAI TRADE DEFICIT WIDENS IN FIRST QUARTER\n ...
4,test/14833,"[palm-oil, veg-oil]",INDONESIA SEES CPO PRICE RISING SHARPLY\n Ind...
...,...,...,...
10783,training/999,"[interest, money-fx]",U.K. MONEY MARKET SHORTAGE FORECAST REVISED DO...
10784,training/9992,[earn],KNIGHT-RIDDER INC &lt;KRN> SETS QUARTERLY\n Q...
10785,training/9993,[earn],TECHNITROL INC &lt;TNL> SETS QUARTERLY\n Qtly...
10786,training/9994,[earn],NATIONWIDE CELLULAR SERVICE INC &lt;NCEL> 4TH ...
10787,training/9995,[earn],&lt;A.H.A. AUTOMOTIVE TECHNOLOGIES CORP> YEAR ...

In [3]:
#test_ids = []
test_categories = []
test_text = []

#train_ids = []
train_categories = []
train_text = []

for index, row in reutersDf.iterrows():
    
    if 'train' in row['ids']:
        for category in row['categories']:
            if category == 'earn' or category == 'acq':
                #train_ids.append(int(row['ids'].split('/')[1]))
                train_categories.append(category)
                train_text.append(row['text'])
    
    if 'test' in row['ids']:
        for category in row['categories']:
            if category == 'earn' or category == 'acq':
                #test_ids.append(int(row['ids'].split('/')[1]))
                test_categories.append(category)
                test_text.append(row['text'])

In [4]:
trainDF = pd.DataFrame({'categories':train_categories, 'text':train_text})
testDF = pd.DataFrame({'categories':test_categories, 'text':test_text})

In [5]:
trainDF['categories'].value_counts()

earn    2877
acq     1650
Name: categories, dtype: int64

In [6]:
testDF['categories'].value_counts()

earn    1087
acq      719
Name: categories, dtype: int64

In [7]:
trainDF.head(5)

  categories                                               text
0        acq  COMPUTER TERMINAL SYSTEMS &lt;CPML> COMPLETES ...
1        acq  NATIONAL AMUSEMENTS AGAIN UPS VIACOM &lt;VIA> ...
2       earn  ROGERS &lt;ROG> SEES 1ST QTR NET UP SIGNIFICAN...
3       earn  ISLAND TELEPHONE SHARE SPLIT APPROVED\n  &lt;I...
4        acq  U.K. GROWING IMPATIENT WITH JAPAN - THATCHER\n...

In [8]:
testDF.head(5)

  categories                                               text
0        acq  SUMITOMO BANK AIMS AT QUICK RECOVERY FROM MERG...
1        acq  BOND CORP STILL CONSIDERING ATLAS MINING BAIL-...
2       earn  AMATIL PROPOSES TWO-FOR-FIVE BONUS SHARE ISSUE...
3       earn  BOWATER 1986 PRETAX PROFITS RISE 15.6 MLN STG\...
4        acq  CRA SOLD FORREST GOLD FOR 76 MLN DLRS - WHIM C...

In [9]:
trainDF['categories'] = trainDF['categories'].map({'earn':1,'acq':2})
testDF['categories'] = testDF['categories'].map({'earn':1,'acq':2})

In [10]:
trainDF.head()

   categories                                               text
0           2  COMPUTER TERMINAL SYSTEMS &lt;CPML> COMPLETES ...
1           2  NATIONAL AMUSEMENTS AGAIN UPS VIACOM &lt;VIA> ...
2           1  ROGERS &lt;ROG> SEES 1ST QTR NET UP SIGNIFICAN...
3           1  ISLAND TELEPHONE SHARE SPLIT APPROVED\n  &lt;I...
4           2  U.K. GROWING IMPATIENT WITH JAPAN - THATCHER\n...

In [11]:
testDF.head()

   categories                                               text
0           2  SUMITOMO BANK AIMS AT QUICK RECOVERY FROM MERG...
1           2  BOND CORP STILL CONSIDERING ATLAS MINING BAIL-...
2           1  AMATIL PROPOSES TWO-FOR-FIVE BONUS SHARE ISSUE...
3           1  BOWATER 1986 PRETAX PROFITS RISE 15.6 MLN STG\...
4           2  CRA SOLD FORREST GOLD FOR 76 MLN DLRS - WHIM C...

In [12]:
trainDF['categories'].value_counts()

1    2877
2    1650
Name: categories, dtype: int64

In [13]:
testDF['categories'].value_counts()

1    1087
2     719
Name: categories, dtype: int64

In [14]:
trainDF.to_csv('./R2_train.csv')
testDF.to_csv('./R2_test.csv')