In [1]:
import pandas as pd
import string 
import numpy as np

In [2]:
train_data=pd.read_csv("train.csv",names=['categories','question','question_content', 'text'])
test_data=pd.read_csv("test.csv",names=['categories','question','question_content', 'text'])

In [3]:
train_data['categories'].value_counts()

5     140000
6     140000
3     140000
7     140000
2     140000
8     140000
4     140000
9     140000
10    140000
1     140000
Name: categories, dtype: int64

In [4]:
test_data['categories'].value_counts()

9     6000
2     6000
4     6000
3     6000
5     6000
8     6000
7     6000
10    6000
1     6000
6     6000
Name: categories, dtype: int64

In [5]:
trainDF = train_data[['categories', 'text']]
trainDF.head(5)

   categories                                               text
0           5  Optical mice use an LED and a camera to rapidl...
1           6  i hear that the mojave road is amazing!<br />\...
2           3  Trans fats occur in manufactured foods during ...
3           7  according to the www.fedex.com web site:\nAir ...
4           7  renting vs buying depends on your goals. <br /...

In [6]:
testDF = test_data[['categories', 'text']]
testDF.head(5)

   categories                                               text
0           9  good communication is what does it.  Can you m...
1           2  this provides camouflage - predator vision is ...
2           4                                         waterspout
3           4  One difference between a Bachelors and a Maste...
4           3  Premenstrual syndrome (PMS) is a group of symp...

In [14]:
newtrainDF = trainDF.groupby('categories')['text'].apply(lambda s: s.sample(400)).to_frame()

newtrainDF.reset_index(inplace=True)

newtrainDF = newtrainDF[['categories', 'text']]

In [15]:
newtrainDF.head()

   categories                                               text
0           1                                     Good question.
1           1  for religious or philosophical matter yes.  no...
2           1  My stomach growled so loud once in Church that...
3           1  The same reasons women do.  \n\nthe "game"...i...
4           1  That is my hope.  Unless we examine the mistak...

In [16]:
newtrainDF['categories'].value_counts()

1     400
2     400
3     400
4     400
5     400
6     400
7     400
8     400
9     400
10    400
Name: categories, dtype: int64

In [17]:
newtestDF = testDF.groupby('categories')['text'].apply(lambda s: s.sample(100)).to_frame()

newtestDF.reset_index(inplace=True)

newtestDF = newtestDF[['categories', 'text']]

In [18]:
newtestDF.head()

   categories                                               text
0           1  I would say that this is against both evolutio...
1           1                               Hmmm, obviously not.
2           1                                 how couldn't you?!
3           1                          what's your email address
4           1  Drug Dealer bussines man!!!\n\nor Gambling at ...

In [19]:
newtestDF['categories'].value_counts()

1     100
2     100
3     100
4     100
5     100
6     100
7     100
8     100
9     100
10    100
Name: categories, dtype: int64

In [20]:
newtrainDF.to_csv('./yahoo_train.csv')
newtestDF.to_csv('./yahoo_test.csv')